.Whole {
    height: 90vh;
    text-align: center;
}

.image {
    margin: 4rem;
}

@media (min-width: 300px) and (max-width: 430px) {
    .image {
        width: 300px;
        height: 200px;
        margin: 3rem 0;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .image {
        width: 250px;
        height: 170px;
        margin: 3rem 0;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {}

@media (min-width: 750px) and (max-width: 920px) {
    .image {
        width: 600px;
        height: 350px;
        margin: 4rem 0;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .image {
        width: 500px;
        height: 350px;
        margin: 3rem 0;
    }
}