.section {
    padding: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);

}

.about {
    margin: 7rem 7rem 3rem;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 10rem;

}

.ab_image {
    position: relative;
    height: 50vh;
    width: 50vh;
}

.ab_text {
    color: black;
    width: 50vh;
}

.ab_text_h1 {
    margin-top: 0;
    font-size: 2rem;
}

.ab_text_p {
    font-size: 1em;
    text-align: justify;
}


.expert {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(40, 9, 70);
    padding: 3rem 0;
}

.expert_text {
    padding-top: 1rem;
    display: flex;
    width: 50vh;
    flex-direction: column;
    color: #fff;
}

.expert_text_h1 {
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid red;

}

.expert_text_h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.expert_vision {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    width: 50vh;
    height: 70vh;
    border: 1px solid lightblue;
    background-color: azure;
    border-radius: 5px;
    margin: 0 1.6rem;
    box-shadow: 2px 2px 4px lightblue;

}

.expert_vision_img {
    position: relative;
    width: 30vh;
    height: 30vh;
}

.expert_vision_h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.expert_vision_p {
    padding: 1rem;
    width: 50vh;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media (min-width: 300px) and (max-width: 430px) {

    .about {
        margin: 0rem;
        flex-direction: column;
        padding: 2rem;

    }

    .ab_image {
        height: 40vh;
        width: 40vh;
    }

    .ab_text {
        width: auto;
    }

    .expert {
        flex-direction: column;
    }

    .expert_text{
        width: auto;
        padding: 10px;
    }

    .expert_vision {
        width: 20vh;
        height: 40vh;
        margin: 0 1rem;
        display: block;
        overflow: hidden;
    }

    .expert_vision_img {
        width: 15vh;
        height: 15vh;
        margin: auto;
    }

    .expert_vision_h2{
        font-size: 1.5rem;
    }

    .expert_vision_p{
        width: 20vh;
        text-align: justify;
        padding: 0 1rem;
        font-size: 10px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .about {
        margin: 0rem;
        flex-direction: column;
        padding: 1.5rem;

    }

    .ab_image {
        height: 35vh;
        width: 35vh;
    }

    .ab_text {
        width: auto;
    }

    .expert {
        flex-direction: column;
    }

    .expert_text{
        width: auto;
        padding: 10px;
    }

    .expert_vision {
        width: 19vh;
        height: 40vh;
        margin: 0 .5rem;
        display: block;
        overflow: hidden;
    }

    .expert_vision_img {
        width: 15vh;
        height: 15vh;
        margin: auto;
    }

    .expert_vision_h2{
        font-size: 1.5rem;
    }

    .expert_vision_p{
        width: 20vh;
        text-align: justify;
        padding: 0 1rem;
        font-size: 10px;
    }
}

@media (min-width: 970px) and (max-width: 1380px) {
    .about{
        margin: 2rem;
    }
}

@media (min-width: 750px) and (max-width: 920px) {

    .section{
        height: 40vh;
    }

    .about {
        margin: 0rem;
        padding: 2rem;

    }

    .ab_image {
        height: 40vh;
        width: 40vh;
        margin: auto;
    }

    .ab_text {
        width: 50%;
    }

    .expert {
        flex-direction: column;
    }

    .expert_text{
        width: auto;
        padding: 10px;
    }

    .expert_vision {
        width: 32vh;
        height: 50vh;
        margin: 0 1rem;
        display: block;
        overflow: hidden;
    }

    .expert_vision_img {
        width: 25vh;
        height: 25vh;
        margin: auto;
    }

    .expert_vision_h2{
        font-size: 3rem;
    }

    .expert_vision_p{
        width: 32vh;
        text-align: justify;
        padding: 0 1rem;
        font-size: 20px;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .about {
        margin: 0rem;
        flex-direction: column;
        padding: 2rem;

    }

    .ab_image {
        height: 40vh;
        width: 40vh;
        margin: auto;
    }

    .ab_text {
        width: auto;
    }

    .expert {
        flex-direction: column;
    }

    .expert_text{
        width: auto;
        padding: 10px;
    }

    .expert_vision {
        width: 33vh;
        height: 50vh;
        margin: 0 1rem;
        display: block;
        overflow: hidden;
    }

    .expert_vision_img {
        width: 25vh;
        height: 25vh;
        margin: auto;
    }

    .expert_vision_h2{
        font-size: 1.5rem;
    }

    .expert_vision_p{
        width: 33vh;
        text-align: justify;
        padding: 0 1rem;
        font-size: 13px;
    }
}