.Area {
    color: black;
    width: 1100px;
    margin: auto;
}

.Heading {
    margin: 2rem;
    text-align: center;
}

.H {
    width: 50vh;
    color: #191f4f;
    padding-bottom: 20px;
    border-bottom: 4px solid #fe2d95;
    margin: auto;
}

.P {
    width: 120vh;
    font-size: 20px;
    padding-top: 20px;
    color: #333;
    margin: auto;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
}

.Card {
    width: 21.5%;
    height: 250px;
    margin: 1.2rem;
    box-shadow: rgba(236, 86, 143, 0.35) 0px 5px 15px;
    border: 1px solid rgba(236, 86, 143, 0.35);
    text-align: center;
    padding: 20px;
}

.Image {
    width: 200px;
    height: 100px;
}

@media (min-width: 300px) and (max-width: 430px){
    .Area {
        width: auto;
    }
    
    .H {
        width: auto;
    }
    
    .P {
        width: auto;
    }
    
    .Card {
        width: auto;
    }
    
}
@media (min-width: 250px) and (max-width: 290px){
    .Area {
        width: auto;
    }
    
    .H {
        width: auto;
    }
    
    .P {
        width: auto;
    }
    
    .Card {
        width: auto;
    }
    
}
@media (min-width: 970px) and (max-width: 1080px){
    .Area {
        width: auto;
    }

    .Card {
        width: 21.2%;
    }

    .Image {
        width: 160px;
        height: 80px;
    }
}
@media (min-width: 750px) and (max-width: 920px){
    .Area {
        width: auto;
    }

    .H {
        width: 30vh;
    }
    
    .P {
        width: 60vh;
    }

    .Card {
        width: 20.3%;
        padding: 10px;
    }

    .Image {
        width: 120px;
        height: 60px;
    }
}
@media (min-width: 520px) and (max-width: 690px){
    .Area {
        width: auto;
    }
    
    .P {
        width: auto;
    }
    
    .Card {
        width: auto;
        margin: 20px 100px;
    }
}