.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
}

.input {
    height: 50px;
    width: 250px;
    background: #fff;
    border: 1px solid #0096d6;
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.input:focus {
    border: 1px solid #fe2d95;
    outline: #fe2d95;
}

.button {
    background-color: #0096d6;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
}

.button:hover {
    background-color: #fe2d95;
}

@media (min-width: 300px) and (max-width: 430px) {
    .form {
        height: 27vh;
    }

    .input {
        height: 35px;
        width: 200px;
    }

    .button {
        font-size: 15px;
        height: 30px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .form {
        height: 25vh;
    }

    .input {
        height: 30px;
        width: 150px;
    }

    .button {
        font-size: 13px;
        height: 25px;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {}

@media (min-width: 750px) and (max-width: 920px) {
    .form {
        height: 25vh;
    }
}

@media (min-width: 520px) and (max-width: 690px) {}