.section {
    height: auto;
    color: aliceblue;
}

.rootcontainer {
    margin-top: 0rem;
    background-color: #fff;
    height: auto;



}


.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.welcometext {
    /* position: relative; */
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

}

.text {
    display: flex;
    font-size: 2.7rem;
    padding-left: 15rem;
    top: 0;
    color: #191f4f;

}

.idea {
    margin: 0.3ch;
    font-size: 2rem;
    color: rgb(0, 148, 158);
    writing-mode: vertical-rl;
}

.innovation {
    padding-top: 3rem;
    margin: 0.3ch;
    font-size: 2rem;
    color: rgb(118, 151, 0);

}

.execution {
    margin: 0.3ch;
    font-size: 2rem;
    color: rgb(117, 43, 0);
}

.teamwork {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.displayImage {
    width: 400px;
    height: 400px;
    animation: mymove 5s;
}

@keyframes mymove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.paragraph {
    width: 1100px;
    margin: auto;
    text-align: center;
    height: 250px;
    font-size: 1.2rem;
    padding: 20px 0;
    color: #333;
}

.H {
    width: 30rem;
    color: #191f4f;
    padding-bottom: 20px;
    border-bottom: 4px solid #fe2d95;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 50px;
}

.P {
    width: 50rem;
    font-size: 20px;
    padding-top: 20px;
    color: #333;
    margin: auto;
    text-align: justify;
}

.saurav {
    width: 1100px;
    height: 500px;
}

@media (min-width: 300px) and (max-width: 430px) {

    .container {
        padding: 1rem 0;
        grid-template-columns: none;
    }

    .text {
        font-size: 2.1rem;
        padding: 0 1.5rem;

    }

    .idea,
    .innovation,
    .execution {
        font-size: 1.5rem;
    }

    .teamwork {
        flex-direction: column;
        margin-top: 0;
    }

    .displayImage {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }

    .H {
        width: auto;
        font-size: 1.5rem;
    }

    .P {
        width: auto;
        font-size: 16px;
    }

    .saurav {
        width: 350px;
        height: 200px;
    }

}

@media (min-width: 250px) and (max-width: 290px) {

    .container {
        padding: 1rem 0;
        grid-template-columns: none;
    }

    .text {
        font-size: 1.7rem;
        padding: 0 .9rem;

    }

    .idea,
    .innovation,
    .execution {
        font-size: 1.3rem;
    }

    .teamwork {
        flex-direction: column;
        margin-top: 0;
    }

    .displayImage {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }

    .H {
        width: auto;
        font-size: 1.1rem;
    }

    .P {
        width: auto;
        font-size: 12px;
    }

    .saurav {
        width: 280px;
        height: 150px;
    }

}

@media (min-width: 970px) and (max-width: 1080px) {

    .text {
        padding-left: 10rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }

    .H {
        font-size: 1.8rem;
    }

    .P {
        font-size: 16px;
    }

    .saurav {
        width: 1000px;
        height: 450px;
    }

}

@media (min-width: 750px) and (max-width: 920px) {

    .container {
        padding: 1rem 0;
    }

    .text {
        font-size: 2.6rem;
        padding-left: 2rem;
    }

    .displayImage {
        width: 350px;
        height: 350px;
        margin-bottom: 2rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }

    .H {
        width: auto;
    }

    .P {
        width: auto;
    }

    .saurav {
        width: 800px;
        height: 350px;
    }

}

@media (min-width: 520px) and (max-width: 690px) {
    .container {
        padding: 1rem 0;
        grid-template-columns: none;
    }

    .text {
        padding: 0 1.5rem;

    }

    .teamwork {
        flex-direction: column;
        margin-top: 0;
    }

    .displayImage {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1.5rem;
        padding: 20px;
    }

    .H {
        width: auto;
        font-size: 1.5rem;
    }

    .P {
        width: auto;
        font-size: 14px;
    }

    .saurav {
        width: 500px;
        height: 200px;
    }
}