.ExploreArea {
    color: #000;
    width: 1100px;
    margin: auto;
    /* border: 1px solid #000; */
}

.heading {
    margin: auto;
    text-align: center;
}

.h1 {
    width: 20rem;
    color: #191f4f;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 4px solid #fe2d95;
    font-size: 3rem;
}

.p {
    width: 30rem;
    padding: 15px 0;
    margin: auto;
    font-size: 20px;
    color: #333;
}

.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    width: 80%;
    /* height: 450px; */
    margin: auto;
    display: flex;
    border-radius: 20px;
    background-color: #0096d6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.face{
    border: 1px solid #0096d6;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
}

.Img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid #fe2d95;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.h {
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    width: 17rem;
    color: #000;
}

.Caption {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: auto;
    width: 60%;

    height: 170px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Pdes {
    text-align: justify;
    color: #333;
    font-size: 15px;
    padding: 45px 20px;
    margin-top: 30px;
    position: relative;
}

.Pdes:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    font-style: normal;
    top: 0px;
    left: 20px;
    color: #fe2d95;
}


@media (min-width: 300px) and (max-width: 430px) {
    .ExploreArea {
        width: auto;
    }
    .h1 {
        width: 30vh;
        font-size: 1.7rem;
        margin: auto;
    }

    .p {
        width: 45vh;
        font-size: 15px;
    }

    .Cards {
        display: block;
    }

    .Card {
        height: 450px;
        flex-direction: column;
        width: 90%;
    }

    .face{
        border-radius: 20px 20px 0 0 ;
    }

    .Img {
        margin: 20px;
    }

    .h {
        width: 40vh;
    }

    .Pdes{
        padding: 40px 20px;
    }

    .Caption{
        width: 90%;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .ExploreArea {
        width: auto;
    }
    .h1 {
        width: 30vh;
        font-size: 1.3rem;
        margin: auto;
    }

    .p {
        width: 40vh;
        font-size: 14px;
    }

    .Cards {
        display: block;
    }

    .Card {
        height: 450px;
        width: 90%;
        flex-direction: column;
    }

    .face{
        border-radius: 20px 20px 0 0 ;
    }

    .Img {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .h {
        font-size: 1.1rem;
        text-align: center;
        width: 35vh;
    }

    .Caption{
        margin-top: 10px;
        height: 180px;
        width: 90%;
    }

    .Pdes {
        text-align: justify;
        padding: 40px 20px;
        font-size: 13px;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {
    .ExploreArea {
        width: auto;
    }
}

@media (min-width: 750px) and (max-width: 920px) {
    .ExploreArea {
        width: auto;
    }

    .Img {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .h {
        font-size: 1.1rem;
        width: 19vh;
    }

}

@media (min-width: 520px) and (max-width: 690px) {
    .ExploreArea {
        width: auto;
    }

    .Cards {
        display: block;
    }

    .Card {
        margin: 2rem 5rem;
        height: 480px;
        width: auto;
        flex-direction: column;
    }

    .face{
        border-radius: 20px 20px 0 0 ;
    }

    .Img {
        margin: 35px;
    }

    .Caption{
        width: 90%;
    }
}