.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: slateblue;
}

.navbutton{

    box-sizing: border-box;
    margin: 2rem;
}