.root {
    padding: 0 5rem;
    height: 100vh;
    background-color: rgb(182, 215, 236);
    color: aliceblue;
    

}


.section1 {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.535);
   padding-top: 5rem;
 
}

.erp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.erp_heading {
    color: black;
}

.erp_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.erp_card {
    margin: 0;
    padding: 0;
    height: 48vh;
    width: 46vh;
    color: black;
    box-shadow: 1px 1px 1rem 1px rgb(150, 198, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: aliceblue;
}

.erp_name{
    text-shadow: 1px 1px 1px rgb(113, 113, 113);
    color: rgb(126, 189, 228);
    font-size: 2rem;
}

.feature_list{
    margin: 0;
    padding: 0;
    list-style-type:circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.li{
    margin: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.featured_product{
    display: flex;
   
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: rgb(21, 34, 91);
    margin-top: 4rem;
    height: 70vh;
    


}

.customeErp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}
.making_erp{
    display: flex;
    flex-direction: column;
    
    width: 80ch;

}
.h1{
   font-size: 2rem;
}
.h2{
    text-align: center;
    padding-bottom: 3rem;
}

.chain{
  display: grid;
  grid-template-columns: repeat(4,1fr);
column-gap: 3rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  
}

.req , .team, .sol,.you{
 

    border: none;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 1.5em;

}

.req{
    background-color: rgba(47, 255, 71, 0.396);
    color: rgba(255, 255, 255, 0.654);
}
.team{
    background-color: rgba(47, 255, 71, 0.609);
    color: rgb(200, 200, 200);
    
}
.sol{background-color: rgba(47, 255, 71, 0.743);
    color: rgb(255, 255, 255);
}
.you{
    background-color: rgba(0, 255, 0, 0.83);
    color: rgb(255, 255, 255);
}
    .text{
    display: inline;
 font-weight: 600;
 text-align: center;
}


.section3{
    height: fit-content;
    width: 100%;
 
}

.featuring_products{
    margin-top: 4rem;
height: 80vh;
width: auto;
background-color: rgb(2, 51, 70);

}

