.root {
    padding: 0;
    height: fit-content;
    background-color: #fff;
    color: #000;
}

.intro {
    display: flex;
    width: 1100px;
    margin: auto;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
}

.tdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1 {
    font-size: 3.5rem;
    color: #191f4f;
}

.p1 {
    font-size: 1.6rem;
    color: #333;
}

.DisImg {
    width: 500px;
    height: 370px;
}

@media (min-width: 300px) and (max-width: 430px) {
    .intro {
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .DisImg {
        width: 300px;
        height: 220px;
    }

    .h1 {
        font-size: 2rem;
    }

    .p1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .intro {
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .DisImg {
        width: 230px;
        height: 150px;
    }

    .h1 {
        font-size: 1.5rem;
    }

    .p1 {
        font-size: 1rem;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {
    .intro {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .p1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 750px) and (max-width: 920px) {
    .intro {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .DisImg {
        width: 400px;
        height: 300px;
    }

    .h1 {
        font-size: 3rem;
    }

    .p1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .intro {
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .h1 {
        font-size: 3rem;
    }

    .p1 {
        font-size: 1.5rem;
    }
}


.Business {
    color: black;
    width: 1100px;
    margin: auto;
}

.Heading {
    margin: 2rem;
    text-align: center;
   
}

.H {
    width: 40rem;
    color: #191f4f;
    padding-bottom: 20px;
    border-bottom: 4px solid #fe2d95;
    margin: auto;
    font-size: 2rem;
}

.P {
    width: 50rem;
    font-size: 20px;
    padding-top: 20px;
    color: #333;
    margin: auto;
}

.prods {
    display: flex;
    flex-wrap: wrap;
}

.Prod {
    width: 29.8%;
    height: 280px;
    margin: 1.2rem;
    box-shadow: rgba(116, 107, 110, 0.35) 0px 5px 15px;
    border-top: 4px solid #0096d6;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.pImg {
    width: 100px;
    height: 100px;
    margin: 3rem 0 2rem;
}

.name {
    color: #191f4f;
    font-size: 1.5rem;
}

.des {
    color: #333;
    font-size: 15px;
    text-align: justify;
}

@media (min-width: 300px) and (max-width: 430px){
    .Business {
        width: auto;
    }

    .H {
        width: auto;
        font-size: 1.5rem;
    }

    .P {
        width: auto;
        font-size: 16px;
    }

    .Prod {
        width: 100%;
    }
}
@media (min-width: 250px) and (max-width: 290px){
    .Business {
        width: auto;
    }

    .H {
        width: auto;
        font-size: 1.1rem;
    }

    .P {
        width: auto;
        font-size: 12px;
    }

    .Prod {
        width: 100%;
        height: 220px;
    }

    .pImg {
        width: 70px;
        height: 70px;
        margin: 2rem 01.5rem;
    }

    .name {
        font-size: 1rem;
    }

    .des {
        font-size: 12px;
    }
}
@media (min-width: 970px) and (max-width: 1080px){
    .Business {
        width: auto;
    }

    .H {
        font-size: 1.8rem;
    }

    .P {
        font-size: 16px;
    }

    .Prod {
        width: 29.5%;
    }
}
@media (min-width: 750px) and (max-width: 920px){
    .Business {
        width: auto;
    }

    .H {
        width: auto;
    }

    .P {
        width: auto;
    }

    .Prod {
        width: 28.5%;
        height: 200px;
    }

    .pImg {
        width: 70px;
        height: 70px;
        margin: 1rem 0
    }

    .name {
        font-size: 1.025rem;
    }

    .des {
        font-size: 15px;
    }
    
}
@media (min-width: 520px) and (max-width: 690px){
    .Business {
        width: auto;
    }

    .H {
        width: auto;
        font-size: 1.5rem;
    }

    .P {
        width: auto;
        font-size: 14px;
    }

    .Prod {
        width: 60%;
        margin: 20px auto;
    }
}



.Who {
    width: 1100px;
    margin: auto;
}

.sec1,
.sec2 {
    display: flex;
    margin: 4rem 0;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

.textDiv {
    width: 30rem;
}

.h {
    margin-top: 0;
    font-size: 2.3rem;
    width: 20rem;
    color: #191f4f;
    padding-bottom: 20px;
    border-bottom: 4px solid #fe2d95;
}

.p {
    font-size: 1.2rem;
    text-align: justify;
    color: #333;
}

.img {
    width: 400px;
    height: 400px;
}

@media (min-width: 300px) and (max-width: 430px) {
    .Who {
        width: auto;
        padding: 20px;
    }

    .sec1 {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    .sec2 {
        flex-direction: column;
        margin: 1rem 0;
    }

    .textDiv {
        width: auto;
    }

    .imgDiv {
        text-align: center;
    }

    .img {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .Who {
        width: auto;
        padding: 20px;
    }

    .sec1 {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    .sec2 {
        flex-direction: column;
        margin: 1rem 0;
    }

    .textDiv {
        width: auto;
    }

    .imgDiv {
        text-align: center;
    }

    .img {
        width: 230px;
        height: 230px;
    }

    .h {
        font-size: 2rem;
        width: 13rem;
    }

    .p {
        font-size: 1rem;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {
    .Who {
        width: auto;
        padding: 20px;
    }
}

@media (min-width: 750px) and (max-width: 920px) {
    .Who {
        width: auto;
        padding: 20px;
    }

    .textDiv {
        width: auto;
    }

    .imgDiv {
        text-align: center;
    }

    .img {
        width: 300px;
        height: 300px;
    }

    .textDiv {
        width: 20rem;
    }

    .h {
        font-size: 2rem;
        width: 13rem;
    }

    .p {
        font-size: 1rem;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .Who {
        width: auto;
        padding: 20px;
    }

    .sec1 {
        flex-direction: column-reverse;
        margin: 1rem 0;
    }

    .sec2 {
        flex-direction: column;
        margin: 1rem 0;
    }

    .textDiv {
        width: auto;
    }

    .imgDiv {
        text-align: center;
    }
}


/* .section1 {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.535);
    padding-top: 5rem;

}

.erp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.erp_heading {
    color: black;
    font-size: 2rem;
}

.erp_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.erp_card {
    margin: 0 20px;
    padding: 0;
    height: 48vh;
    width: 46vh;
    color: black;
    box-shadow: 1px 1px 1rem 1px rgb(150, 198, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.erp_name {
    text-shadow: 1px 1px 1px rgb(113, 113, 113);
    color: rgb(126, 189, 228);
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 0;
}

.feature_list {
    margin: 0;
    padding: 0;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.li {
    margin: 5px;
    text-align: justify;
    font-size: .85rem;
    font-weight: 300;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.featured_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: linear-gradient(25deg, #119CFDFF, purple);
    margin-top: 4rem;
    height: 90vh;



}

.customeErp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.making_erp {
    display: flex;
    flex-direction: column;

    width: 80ch;

}

.h1 {
    font-size: 3rem;
    text-align: center;
}

.h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.chain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.req,
.team,
.sol,
.you {


    border: none;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

}

.req {
    background-color: rgba(47, 255, 71, 0.396);
    color: rgba(255, 255, 255, 0.654);
}

.team {
    background-color: rgba(47, 255, 71, 0.609);
    color: rgb(200, 200, 200);

}

.sol {
    background-color: rgba(47, 255, 71, 0.743);
    color: rgb(255, 255, 255);
}

.you {
    background-color: rgba(0, 255, 0, 0.83);
    color: rgb(255, 255, 255);
}

.text {
    display: inline;
    font-weight: 600;
    text-align: center;
}

.paragraph {
    width: 1100px;
    margin: auto;
    text-align: center;
    height: 250px;
    font-size: 1rem;
    padding: 20px 0;
}


.section3 {
    height: fit-content;
    width: 100%;

}

.featuring_products {
    padding: 0 8rem;
    position: relative;
    height: 65vh;
    width: auto;
    background-image: linear-gradient(25deg, purple, #119CFDFF);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.details_iot {
    width: 30rem;
}

.s4 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: aliceblue;

}

.p4 {
    text-align: justify;
}

.image_iot {

    position: relative;
    width: 60ch;
    height: 40ch;
    object-fit: cover;
    box-shadow: 0.3rem, 0.3rem, 1rem purple;
}

@media (min-width: 300px) and (max-width: 430px) {

    .section1 {
        padding-top: 0;
    }


    .erp_heading{
        text-align: center;
    }

    .erp_products {
        display: block;
    }
    .making_erp{
        width: auto;
    }
    .erp_card {
        padding: 0 10px;
        margin: 1.5rem 0;
        height: 40vh;
        width: 40vh;
        border-radius: 10px;
    }

    .erp_name {
        font-size: 1.5rem;
        text-align: center;
    }

    .li{
        margin: 4px 0;
        font-size: 0.8rem;
    }

    .featured_product {
        display: block;
        margin-top: -10px;
        height: auto;
    }

    .h2 {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }

    .chain {
        display: grid;
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .req,
    .team,
    .sol,
    .you {
        font-size: 1.1rem;
        height: 18vh;
        width: 18vh;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }

    .featuring_products {
        padding: 0;
        flex-direction: column;
        height: auto;
    }

    .details_iot {
        width: 20rem;
        padding: 20px;
    }

    .s4 {
        font-size: 2rem;
        padding: 5px;
    }

    .image_iot {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {

    .section1 {
        padding-top: 0;
    }


    .erp_heading{
        text-align: center;
    }

    .erp_products {
        display: block;
    }
    .making_erp{
        width: auto;
    }
    .erp_card {
        padding: 0 10px;
        margin: 1.5rem 0;
        height: 40vh;
        width: 40vh;
        border-radius: 10px;
    }

    .erp_name {
        font-size: 1.2rem;
        text-align: center;
    }

    .li{
        margin: 4px 0;
        font-size: 0.7rem;
    }

    .featured_product {
        display: block;
        margin-top: -10px;
        height: auto;
        width: auto;
    }

    .h1{
        font-size: 1.5rem;
    }

    .h2 {
        font-size: .8rem;
        padding-bottom: 1rem;
    }

    .chain {
        display: grid;
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .req,
    .team,
    .sol,
    .you {
        font-size: 1.1rem;
        height: 18vh;
        width: 18vh;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }


    .featuring_products {
        padding: 0;
        flex-direction: column;
        height: auto;
    }

    .details_iot {
        width: 18rem;
        padding: 20px;
    }

    .s4 {
        font-size: 2rem;
        padding: 5px;
    }

    .image_iot {
        width: 250px;
        height: 170px;
        margin-bottom: 20px;
    }

}

@media (min-width: 970px) and (max-width: 1080px) {
    .erp_card {
        padding: 0 10px;
    }

    .erp_name {
        font-size: 1.5rem;
        text-align: center;
    }

    .li{
        margin: 5px 0;
        font-size: 0.7rem;
    }

    .req,
    .team,
    .sol,
    .you {
        height: 25vh;
        width: 25vh;
        font-size: 1.3rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }


    .featured_product{
        margin-top: 0;
    }

    .featuring_products {
        padding: 20vh;
    }
    .s4{
        font-size: 3rem;
    }

    .image_iot {
        width: 470px;
        height: 350px;
    }
}

@media (min-width: 750px) and (max-width: 920px) {

    .erp_products {
        grid-template-columns: 1fr 1fr;
    }

    .erp_card {
        padding: 0 10px;
        height: 30vh;
        width: 30vh;
    }

    .erp_name {
        font-size: 2rem;
        text-align: center;
    }

    .li{
        margin: 5px 0;
        font-size: .9rem;
    }

    .featured_product {
        height: 50vh;
        margin-top: 0;
    }

    .chain{
        column-gap: 2.5rem;
    }

    .req,
    .team,
    .sol,
    .you {
        height: 14vh;
        width: 14vh;
        font-size: 1.5rem;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        padding: 20px;
    }


    .featuring_products {
        padding: 0;
        flex-direction: column;
        height: auto;
    }

    .details_iot {
        width: 40rem;
        padding: 20px;
    }

    .s4 {
        font-size: 3rem;
        padding: 5px;
    }

    .image_iot {
        height: 400px;
        margin-bottom: 20px;
    }
    
}

@media (min-width: 520px) and (max-width: 690px) {
    .section1 {
        padding-top: 0;
    }

    

    .erp_heading{
        text-align: center;
    }

    .erp_products {
        display: block;
    }
    .making_erp{
        width: auto;
    }
    .erp_card {
        overflow: hidden;
        margin: 1.5rem 0;
        border-radius: 10px;
    }

    .erp_name {
        font-size: 1.5rem;
    }

    .li {
        font-size: .9rem;
    }

    .featured_product {
        display: block;
        margin-top: -10px;
        height: auto;
    }

    .h2 {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }

    .chain {
        display: grid;
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .req,
    .team,
    .sol,
    .you {
        font-size: 1.1rem;
        height: 18vh;
        width: 18vh;
    }

    .paragraph {
        width: auto;
        margin: auto;
        height: auto;
        font-size: 1.5rem;
        padding: 20px;
    }


    .featuring_products {
        padding: 0;
        flex-direction: column;
        height: auto;
    }

    .details_iot {
        padding: 20px;
    }

    .s4 {
        font-size: 3rem;
        padding: 5px;
    }

    .image_iot {
        width: 450px;
        height: 300px;
        margin-bottom: 20px;
    }
} */