.section {
    padding: 0;
    height: fit-content;
    background-color: darkblue;
    color: aliceblue;
}

.services {

    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.each_service {
    margin: 2rem;
    width: 70vmax;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.5rem lightskyblue;
}

.service_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 50vh;
}

.each_service_name {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: black;
}

.each_service_para {
    margin: 0;
    padding: 0;
    color: black;
}

.service_img {
    position: relative;
    height: 50vh;
    width: 50vh;
}


@media (min-width: 300px) and (max-width: 430px){
    .each_service{
        width: 45vmax;
        margin: 1rem 0rem;
        flex-direction: column;
        height: 500px;
    }

    .service_text {
        justify-content: flex-start;
        width: 40vh;
    }

    .service_img {
        width: 40vh;
        height: 40vh;
    }
}
@media (min-width: 250px) and (max-width: 290px){

    .each_service{
        width: 40vmax;
        margin: 1rem 0rem;
        flex-direction: column;
        height: 500px;
    }

    .service_text {
        justify-content: flex-start;
        width: 35vh;
    }

    .service_img {
        width: 35vh;
        height: 35vh;
    }

}
@media (min-width: 970px) and (max-width: 1380px){

}
@media (min-width: 750px) and (max-width: 920px){

    .each_service{
        width: 60vmax;
        margin: 1rem 0rem;
        height: 300px;
    }

    .service_text {
        justify-content:center;
        width: 30vh;
    }

    .service_img {
        width: 25vh;
        height: 23vh;
    }
}
@media (min-width: 520px) and (max-width: 690px){
    .each_service{
        margin: 1rem 0rem;
        height: 280px;
    }

    .service_text {
        justify-content:center;
        width: 35vh;
    }

    .service_img {
        width: 35vh;
        height: 35vh;
    }
}